---
import "../assets/styles/global.css";
import Header from "../sections/Header.astro";
import Footer from "../sections/Footer.astro";
import BaseHead from "../components/BaseHead.astro";
import WhatsAppButton from "@/components/WhatsAppButton.astro";

const menu = [
  { label: "Inicio", href: "/" },
  { label: "Abogado de Salud", href: "/abogado-de-salud" },
  { label: "Abogado Laboral", href: "/abogado-laboral" },
  { label: "Casos de éxito", href: "/casos-de-exito" },
  { label: "Contacto", href: "/contacto" },
];

const { title, description, url, image } = Astro.props;
---

<!DOCTYPE html>
<html lang="es-AR">
  <head>
    <BaseHead title={title} description={description} canonical={url} image={image} />
  </head>
  <body>
    <Header menuItems={menu} />
    <main>
      <slot />
    </main>
    <Footer menuItems={menu} />
    <WhatsAppButton />
  </body>
</html>
